![png](Data/books_ERD.png)

In [1]:
import pandas as pd
from sqlalchemy import create_engine 
from sqlalchemy_utils import database_exists, create_database
import pymysql 
from urllib.parse import quote_plus
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [2]:
username = "root"
password = "6236265.Scz" 

db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [3]:
if database_exists(connection):
    print('It exists')
else:
    create_databse(connection)
    print ('Database created')

It exists

In [4]:
q= '''SHOW TABLES;'''
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3         ratings
4    title_basics
5           users

In [5]:
q= '''SELECT * FROM authors'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [author_id, author_name]
Index: []

In [6]:
q= '''SELECT * FROM books'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [book_id, title, users_id, authors_author_id]
Index: []

In [7]:
q= '''SELECT * FROM favorites'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [books_book_id, books_users_id, users_user_id]
Index: []

In [8]:
q= '''SELECT * FROM users'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [user_id, first_name, last_name, email]
Index: []

In [9]:
authors = pd.read_csv('Data/authors.csv')
authors.info()
authors.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5 non-null      int64
 1   author_name  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [10]:
books = pd.read_csv('Data/books.csv')
books.info()
books.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         6 non-null      int64
 1   title      6 non-null      object
 2   author_id  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [11]:
users = pd.read_csv('Data/users.csv')
users.info()
users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   first_name  3 non-null      object
 2   last_name   3 non-null      object
 3   email       3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [12]:
favorites = pd.read_csv('Data/favorites.csv')
favorites.info()
favorites.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  7 non-null      int64
 1   book_id  7 non-null      int64
dtypes: int64(2)
memory usage: 240.0 bytes

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [13]:
username = "root"
password = "6236265.Scz" 

db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [16]:
q= '''SELECT mydb.books.title, favorites.users_id
FROM books
JOIN favorites ON mydb.books.id = favorites.books_id
WHERE favorites.users_id = 
    (SELECT mydb.users.id FROM mydb.users WHERE (mydb.users.last_name = "Doe" AND mydb.users.first_name = "John"));'''
pd.read_csv(q, conn)

/var/folders/15/6t7rhv_d6b957_l2sgfz9ghr0000gn/T/ipykernel_77519/2991428975.py:6: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  pd.read_csv(q, conn)

TypeError: object of type 'Connection' has no len()